<h1>Activities</h1>

<div *ngIf="loading$ | async">
    Loading...
</div>
<div *ngIf="errors$ | async">
    Error :(
</div>
<ul>
<li *ngFor="let activity of activities$ | async">
    {{ activity.id }}: 
    <a 
        [title]="activity.name + ' details'" 
        [routerLink]="['/activity', activity.id]"
    >{{ activity.name }}</a> Selected = {{ activity.isSelected }}
    <button (click)="onSelect(activity.id)">Select</button>
</li>
</ul>

<h2>Activity</h2>
<div *ngIf="activityLoading$ | async">
    Loading...
</div>
<div *ngIf="!(activityLoading$ | async)">
    <p>{{ (activity$ | async)?.name }}</p>
</div>

<app-add-activity></app-add-activity>